{% extends 'data_capture/base.html' %}

{% block title %}Upload Region 10 Data{% endblock title %}

{% block body %}
  <div class="container">
    <h1>Upload Region 10 Data</h1>

    <p>Use this page to upload an export of Region 10 data.</p>

    {% include 'data_capture/bulk/region_10_form.html' %}

    {% if show_debug_ui %}
      {% load static %}
      <p style="color: gray">
        <strong>Developers:</strong>
        Download <a href="{% static 'data_capture/r10_export_sample.xlsx' %}"><code>r10_export_sample.xlsx</code></a>
        to use as an example Region 10 bulk export to load.
      </p>
    {% endif %}
  </div>
{% endblock body %}
